[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
"pyside2" = "*"
"bs4" = "*"
"urllib3" = "*"
qt-py = "*"
qdarkstyle = "*"

[dev-packages]
pyinstaller = ">=6.3"
flake8 = "*"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
