[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
"pyside2" = "*"
"bs4" = "*"
"qt.py" = "*"
"urllib3" = "*"

[dev-packages]
pylint = "*"
pyinstaller = "*"

[requires]
python_version = "3.7"
