certifi==2025.4.26
charset-normalizer==3.4.2
idna==3.10
packaging==25.0
PySide6==6.9.1
PySide6_Addons==6.9.1
PySide6_Essentials==6.9.1
QDarkStyle==3.2.3
QtPy==2.4.3
requests==2.32.4
shiboken6==6.9.1
urllib3==2.6.3
